.nav-list{
  text-decoration: none;
  display: flex;
  list-style: none;
}

.nav-item{
  margin: 20px 2vw;
  color: white;
}

.prb-3{
  background-color: transparent;
  color: white;
  border-radius: 100px;
  border: 1px solid white;
  height: fit-content;
  padding: 10px 20px;
  margin-top: 10px;
}

.nav-row{
  padding: 0 30px!important;
  position: fixed;
  width: 100vw;
  z-index: 1111;
  padding-top: 10px!important;
}

.nav-logo{
  height: 50px;
  width: 100%;
  margin-top: 10px;
}