.carousel {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.carousel-content-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.carousel-slide {
    min-width: 100%;
    position: relative;
    height: 100%;
}

.carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel-content {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    text-align: start;
    color: white;
    z-index: 10;
    animation: fade .8s ease-in;
}
.carousel-svg {
    position: absolute;
    bottom: 0;
    left: 25%;
    transform: translateX(-50%);
    animation: fade2 .8s ease-in;
    z-index: 113;
    height: 23vw;
}

.fade-section {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1.7s ease-out, transform 1s ease-out;
}

.fade-section.animate-in {
    opacity: 1;
    transform: translateY(0);
}

.fade-section.animate-out {
    opacity: 0;
    transform: translateY(20px);
}

@keyframes fade {
    0%{
        opacity: 0;
        transform: translate(-50%, -50%)scale(1.2);
    }
    100%{
        opacity: 1;
        transform: translate(-50%, -50%)scale(1);
    }
}

@keyframes fade2 {
    0%{
        opacity: 0;
        transform: translate(-50%, 0%)scale(1.2);
    }
    100%{
        opacity: 1;
        transform: translate(-50%, 0%)scale(1);
    }
}

.nextsvg{
    width: 25px;
    height: 25px;
}


.carousel-padding {
    padding: 20px;
}

.heading-carousel {
    color: white;
    font-size: 3vw;
    letter-spacing: -0.15vw;
    /* width: 70%; */
    margin: 0;
}

.subtitle-carousel {
    font: 400 5vw var(--style-font);
    line-height: 60%;
    width: 100%;
    color: var(--pri);
}

.next-arrow, .prev-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1929;
    color: white;
    font-size: 24px;
}

.prev-arrow {
    left: 20px;
}

.next-arrow {
    right: 20px;
}

@media (max-width: 1300px) {
    .carousel-content {
        top: 50%;
        width: 80%;
        left: 50%;
    }
    .subtitle-carousel {
        font-size: 70px;
    }

}
@media (max-width: 1100px) {
    .carousel {
        height: 100vh;
    }

    .carousel-svg {
        height: 15%;
    }

    .carousel-content {
        top: 50%;
        width: 80%;
        left: 50%;
    }

    .heading-carousel {
        font-size: 5vw;
        width: 90%;
    }

    .subtitle-carousel {
        font-size: 80px;
    }
}

@media (max-width: 450px) {
    .subtitle-carousel {
        font-size: 14vw;
        width: 60%;
    }
}