.price-card{
    background-color: white;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.top-head-price-card{
    background-color: var(--sec);
    padding: 1.3vw 1.3vw .5vw 1.3vw;
}
.top-head-price-card2{
    background-color: var(--pri);
    padding: 1.3vw 1.3vw .5vw 1.3vw;
}

.pric-pad{
    padding: 0 15px;
}

.price-card-img{
    width: 6.5vw;
    height: 6.5vw;
    border-radius: 100%;
}

.bolder-price-card{
    font-weight: 500;
}
.heading-price-card{
    font-size: 3.4vw;
    font-weight: 500;
    color: var(--pri);
}

.session-pc{
    font-size: medium;
}

.appoint-btn{
    width: 87%;
    padding: 13px;
    background-color: #e9e9ec94;
    color: black;
    border-radius: 100px;
    text-align: center;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.appoint-btn:hover{
    background-color: var(--sec);
    color: white;
    box-shadow: 0 0 20px rgba(175, 175, 175, 0.562);
}
.tickSvg2{
    color: var(--pri);
    width: 15px;
    height: 15px;
}

@media (max-width: 768px) {
    .pric-pad{
        padding: 0px!important;
    }
    .top-head-price-card{
        padding: 4vw 4vw 1.5vw 4vw;
    }
    .top-head-price-card2{
        padding: 4vw 4vw 1.5vw 4vw;
    }
    
    .price-card-img{
        width: 23vw;
        height: 23vw;
        border-radius: 100%;
    }
    .heading-price-card{
        font-size: 11vw;
    }
}