.containerWelcome{
    min-height: 90vh;
    padding: 20px;
    margin-top: 100px;
}

.padding-picture-section{
    padding: 6vw;
}

.f-small{
    font-size: 1.2vw;
    line-height: 160%;
}   

.tickSvg{
    color: var(--pri);
    width: 20px;
    height: 20px;
}
.starSvg{
    color: rgb(255, 191, 0);
    width: 20px;
    height: 20px;
    margin: 0 2px;
}

.trustpilot{
    width: 130px;
    height: auto;
}

@media(max-width:1080px){
    .containerWelcome{
        margin-top: -10vw;
        min-height: 70vh;
    }
}

@media(max-width:768px){
    .padding-picture-section{
        padding: 1.5vw;
    }
    .containerWelcome{
        margin-top: 5vw;
    }
    .h-cont{
        height: 50vh;
    }
    .f-small{
        font-size: 5vw;
        line-height: 160%;
    }  
}
