.meeting-confirmed{
    min-height: 30vh;
    width: 70%;
    background-color: #ecf3f1;
    border-radius: 16px;
}

@media (max-width: 768px) {
    .meeting-confirmed{
        min-height: 50vh;
        width: 100%;
    }        
}