@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


*{
    --title-font: "Jost", Helvetica, Arial, sans-serif; 
    --style-font: "Allison", Helvetica, Arial, sans-serif; 
    --pri: #83cc61;     
    --priopa: #e1ffd4;     
    --sec: #5a9e7c;     
    font: 400 16px var(--title-font);
}

body{
    overflow-x: hidden;
}
.row{
    margin: 0!important;
    padding: 0!important;
}

.tb-1, .tb-2{
    width: fit-content;
    padding: .6vw 1.3vw;
    background-color: #aaaaaa4d;
    color: white;
    font-size: 14px;
    border-radius: 100px;
    font-weight: 700;
}

.tb-2{
    background-color: var(--priopa);
    color: black;
}

.prb-1, .prb-2{
    width: fit-content;
    display: flex;
    align-items: center;
    height: fit-content;
    justify-content: center;
    background-color: var(--pri);
    border-radius: 100px;
    cursor:pointer;
    transition: all .3s;
}
.prb-2{
    background-color: var(--sec);
}
.prb-1 div, .prb-2 div{
    color: white;
    font-weight: 700;
    font-size: 16px;
    width: fit-content;
    padding: 1vw 1.9vw;
}
.prb-1:hover, .prb-2:hover{
    box-shadow: 0px 0px 2vw 0px rgba(0, 0, 0, 0.279);
}

.heading-main{
    color: white;
    font-size: 4.5vw;
    letter-spacing: -0.15vw;

}
.heading-main-2{
    color: white;
    font-size: 3.2vw;
    letter-spacing: -0.15vw;
}

.span{
    font: 400 7vw var(--style-font);
    line-height: 45%;
    color: var(--pri);
}
.style-2{
    line-height: 45%;
    color: var(--pri);
}

.p{
    font: 400 17px var(--title-font);
    color: white;
}

.grey{
    color: #8c94a7;
}

.react-quill .p{
    color: black;
}
strong {
    font-weight: bold;
  }
  
  em {
    font-style: italic;
  }
  
  u {
    text-decoration: underline;
  }
  
  /* Strong + Em (bold + italic) */
  strong em,
  em strong {
    font-weight: bold;
    font-style: italic;
  }
  
  /* Strong + U (bold + underline) */
  strong u,
  u strong {
    font-weight: bold;
    text-decoration: underline;
  }
  
  /* Em + U (italic + underline) */
  em u,
  u em {
    font-style: italic;
    text-decoration: underline;
  }
  
  /* Strong + Em + U (bold + italic + underline) */
  strong em u,
  em strong u,
  strong u em,
  u strong em,
  em u strong,
  u em strong {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
  }

  .aboutus-img-bg,
.jachatroom-bg-img,
.slhome-bg-img,
.clhome-img-bg {
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    width: 100%!important;
    height: 100vh!important;
}


.aboutus-img-bg{
    background-image:url('./images/actual/about us.jpeg');
    color: white!important;
}

.ja-section-img-bg{
    background-image: url('./images/actual/beautiful-japanese-forest-landscape.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    color: white!important;
}
  
.jachatroom-bg-img{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url('./images/actual/Reflect on your journey.jpg');
    color: white!important;
}
.slhome-bg-img{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('./images/actual/sl-overexposure.jpeg');
    color: white!important;
}
.clhome-img-bg{
    background:url('./images/actual/Home\ Page\ 2.jpg');
    color: white!important;
}



@media (max-width:768px) {
    .tb-1, .tb-2{
        padding: 1vw 3.6vw;
        font-size: 2.5vw;
    }
    
    .prb-1 div, .prb-2 div{
        font-size: 2.5vw;
        padding: 1.5vw 4.5vw;
    }

    .heading-main{
        font-size: 7.5vw;
    }

    .heading-main-2{
        font-size: 6vw;
    }

    .span{
        font: 400 10vw var(--style-font);
        line-height: 45%;
    }
    .style-2{
        font: 400 8vw var(--style-font);
        line-height: 45%;
    }

    .p{
        font: 400 17px var(--title-font);
        color: white;
        letter-spacing: -0.1vw;

    }
    .grey{
        color: #8c94a7!important;
    }
    
}

.cursor-pointer{
    cursor: pointer;
}
@media (max-width:500px) {
    .tb-1, .tb-2{
        padding: 1.7vw 5vw;
        font-size: 4vw;
    }
    
    .prb-1 div, .prb-2 div{
        font-size: 4vw;
        padding: 3vw 7vw;
    }

    .heading-main{
        font-size: 12vw;
    }
    .heading-main-2{
        font-size: 10vw;
    }

    .span{
        font: 400 15vw var(--style-font);
        line-height: 45%;
    }

    .style-2{
        font: 400 15vw var(--style-font);
        line-height: 45%;
    }

    .p{
        font: 400 17px var(--title-font);
        color: white;
    }
}

.no-select {
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
